.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-left: 220px;
  margin-top: 74px;
}

.card {
  background-color: rgb(230, 240, 255) ;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 150px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 70px;
  font-weight: 600;
  color: rgb(28, 53, 85);
}