.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 74px;
  width: 100%;
  background-color: rgb(33, 76, 135);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar-title {
  font-size: 40px;
  font-weight: bold;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
}

.logout-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.logout-button:hover {
  background-color: #c0392b;
}